body{
    font-family: "Raleway", sans-serif;
}
#blocPage{
    width: 60%;
    margin: auto;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#logo{
    margin-top: 20px;
}
/* menu de navigation */
#menuPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    text-decoration: none;
    color: #0065FC;
    margin: 0;
    margin-left: 20px;
    padding-top: 20px;
}
header nav a:hover{
    border-top: 2px solid #0065FC;
}
/* Slogan */
#titre{
    display: flex;
    flex-direction: column;
}
h1{
    padding: 0;
    margin: 2em 0 0 0;
    font-size: 1.2em;
}
h1 + p{
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    margin-top: 0.8em;

}
/* Champ de recherche et bouton */
input, button{
    border: none;
}

#recherche{
    margin-top: 1.2em;
    height: 2.4em;
    width: 23em;
    display: flex;
}
#recherche input{
    font-weight: bold;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    flex: 17;
    padding-left: 1.2em;
}
#recherche input:focus{
    outline: none;
    border-top: 2px solid #DEEBFF;
    border-bottom: 2px solid #DEEBFF;
}
#recherche input:focus::before{
    background-color: #DEEBFF;
}
#recherche label{
    cursor: pointer;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    font-size: 0.8em;
    flex: 3;
    display: flex;
}
.fa-map-marker-alt{
    margin: auto;
}
#recherche button{
    cursor: pointer;
    color: white;
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    flex: 8;
}
#recherche button:focus{
    outline: none;
}
#recherche button:active{
    color:#DEEBFF;
}
/* Sliders filtres */
.switch{
    appearance: none;
    height: 30px;
    width: 8em;
    border: 2px solid #F2F2F2;

}
.switch:checked{
    
    
}
.switch{
    
}
.switch{
    
}