body{
    font-family: "Raleway", sans-serif;
}
p{
    font-size: 0.8em;
}
h1{
    padding: 0;
    margin: 2em 0 0 0;
    font-size: 1.2em;
}
h2{
    font-size: 1em;
}
#blocPage{
    width: 55%;
    margin: auto;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#logo{
    margin-top: 20px;
}
/* menu de navigation */
#menuPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    text-decoration: none;
    color: #0065FC;
    margin: 0;
    margin-left: 20px;
    padding-top: 20px;
}
header nav a:hover{
    border-top: 2px solid #0065FC;
}
/* Slogan */
#titre{
    display: flex;
    flex-direction: column;
}
h1 + p{
    margin: 0;
    padding: 0;
    margin-top: 0.8em;

}
/* Champ de recherche et bouton */
input, button{
    border: none;
}

#recherche{
    margin-top: 1.2em;
    height: 2.4em;
    width: 23em;
    display: flex;
}
#recherche input{
    font-weight: bold;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    flex: 17;
    padding-left: 1.2em;
}
#recherche input:focus{
    outline: none;
    border-top: 2px solid #DEEBFF;
    border-bottom: 2px solid #DEEBFF;
}
#recherche input:focus::before{
    background-color: #DEEBFF;
}
#recherche label{
    cursor: pointer;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    font-size: 0.8em;
    flex: 3;
    display: flex;
}
.fa-map-marker-alt{
    margin: auto;
}
#recherche button{
    cursor: pointer;
    color: white;
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    flex: 8;
}
#recherche button:focus{
    outline: none;
}
#recherche button:active{
    color:#DEEBFF;
}
/* filtres */
input[type="checkbox"]{
    cursor: pointer;
    appearance: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    content: "";
    height: 2.4em;
    width: 2.4em;
    border-radius: 2.4em;
    transform: scale(1.1);
    background-color: #F2F2F2;
    transition: background-color 0.2s ease-in-out;
}
input[type="checkbox"]:checked{
    background-color:#DEEBFF;   
}

input[type="checkbox"]:hover{
    transform: scale(1.2);
}
input[type="checkbox"]:active{
    transform: scale(1.1);
}
input[type="checkbox"]:focus{
    outline: none;
}
#filtres label{
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    height: 2.4em;
    border: 0.15em solid #F2F2F2;
    border-radius: 2.4em;
    display: flex;
    position: relative;
    padding-left: 3em;
    padding-right: 1em;
    margin-left: 2em;
    align-items: center;
}
/* Icones filtres */
#filtres i {
    color:#0065FC;
    position: absolute;
    pointer-events: none
}
.fa-money-bill-wave{
    position: absolute;
    left: 0.6em;
}
.fa-child{
    left: 0.88em;
}
.fa-heart{
    left: 0.74em;
}
.fa-dog{
    left: 0.7em;
}
/* zone filtre */
#filtres {
    width: 80%;
    display: flex;
    margin-top: 1.5em;
    align-content: space-between;
    align-items: center;
}
#filtres h2{
    margin-right: 1.2em;
}